@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fffffe;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  color: none;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: auto;
}

.header {
  max-height: 120px;
  position: sticky;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .menu-item {
  margin-right: 40px;
}
.header .menu-item:last-child {
  margin-right: 0;
}
.header .menu-link {
  display: block;
  font-family: "Marmelad", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #62880D;
  border-bottom: 1px solid #62880D;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}
.header .menu-link:hover {
  color: #DB2A34;
  border-bottom: 2px solid #DB2A34;
  transform: scale(1.05);
}
.header .order-menu {
  display: flex;
}
.header .order-menu-item {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ED8489;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.header .order-menu-item:hover {
  background-color: #fff;
  border: 1px solid #DB2A34;
  transform: scale(1.05);
}
.header .order-menu #wishlist {
  margin-right: 20px;
}
.header .order-menu #wishlist::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url(../../assets/svg/heart-white.svg) no-repeat;
  background-position: center center;
}
.header .order-menu #wishlist:hover::before {
  width: 25px;
  height: 25px;
  background: url(../../assets/svg/heart-red.svg) no-repeat;
  background-position: center center;
}
.header .order-menu #order {
  position: relative;
}
.header .order-menu #order::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url(../../assets/svg/bag-white.svg) no-repeat;
  background-position: center center;
}
.header .order-menu #order:hover::before {
  width: 24px;
  height: 25px;
  background: url(../../assets/svg/bag-red.svg) no-repeat;
  background-position: center center;
}
.header .order-menu #order::after {
  content: "7";
  display: block;
  position: absolute;
  top: -5px;
  right: 0;
  width: 21px;
  height: 21px;
  margin: 0 auto;
  color: #DB2A34;
  background-color: #fff;
  border: 1px solid #ED8489;
  border-radius: 50%;
  font-family: "Marmelad", sans-serif;
  font-size: 10px;
  line-height: 21px;
}
.header .order-menu #order:hover::after {
  color: #fff;
  background-color: #ED8489;
  border: 1px solid transparent;
}

.main-bg {
  width: 100%;
}
.main-bg--img {
  width: 100%;
  height: auto;
}
.main-action {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}
.main-action--btn {
  padding: 20px 42px;
  font-family: "Marmelad", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #DB2A34;
  background: #fff;
  border: 1px solid #DB2A34;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.main-action--btn:hover {
  color: #fff;
  background-color: #DB2A34;
  box-shadow: inset 0px 0px 0px 3px #fff;
  transform: scale(1.05);
}