@import 'reset';
@import 'var';
@import 'common';
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
//---------------
.header{
    max-height: 120px;
    position: sticky;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        &-item{
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
        }

        &-link{
            display: block;
            font-family: 'Marmelad', sans-serif;
            font-size: 20px;
            text-transform: uppercase;
            color: $green;
            border-bottom: 1px solid $green;
            padding-bottom: 4px;
            transition: all .3s ease;

            &:hover{
                color: $red;
                border-bottom: 2px solid $red;
                transform: scale(1.05);
            } 
        }
    }

    .order-menu{
        display: flex;
        &-item{
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: $pink;
            border: 1px solid transparent;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: $white;
                border: 1px solid $red;
                transform: scale(1.05);
            }
        }

        #wishlist{
            margin-right: 20px;
            &::before{
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                margin: 0 auto;
                background: url(../../assets/svg/heart-white.svg) no-repeat;
                background-position: center center;
            }
            
            &:hover::before{
                width: 25px;
                height: 25px;
                background: url(../../assets/svg/heart-red.svg) no-repeat;
                background-position: center center;
            }
        }

        #order{
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                margin: 0 auto;
                background: url(../../assets/svg/bag-white.svg) no-repeat;
                background-position: center center;
            }

            &:hover::before{
                width: 24px;
                height: 25px;
                background: url(../../assets/svg/bag-red.svg) no-repeat;
                background-position: center center;
            }
            &::after{
                content: '7';
                display: block;
                position: absolute;
                top: -5px;
                right: 0;
                width: 21px;
                height: 21px;
                margin: 0 auto;
                color: $red;
                background-color: $white;
                border: 1px solid $pink;
                border-radius: 50%;
                font-family: 'Marmelad', sans-serif;
                font-size: 10px;
                line-height: 21px;
            }

            &:hover::after{
                color: $white;
                background-color: $pink;
                border: 1px solid transparent;
            }
        }
    }
}
//-----------------
.main{
    &-bg{
        width: 100%;
        &--img{
            width: 100%;
            height: auto;
        }
    }

    &-action{
        width: 100%;
        text-align: center;
        padding: 40px 0;
        &--btn{
            padding: 20px 42px;
            font-family: 'Marmelad', sans-serif;
            font-size: 20px;
            text-transform: uppercase;
            color: $red;
            background: $white;
            border: 1px solid $red;
            border-radius: 10px;
            transition: all .3s ease-in-out;
            &:hover{
                color: $white;
                background-color: $red;
                //box-shadow: 0px 0px 10px 2px $pink;
                box-shadow: inset 0px 0px 0px 3px $white;
                //border: 1px solid $white;
                transform: scale(1.05);
            }
        }
    }
}